body {
    background-color: MidnightBlue;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
	color: LightCyan;
}
h1 {
    color: CornflowerBlue;
	margin-bottom: 0px;
}
h2 {
	color: CornflowerBlue;
	font-size: 13px;
	margin-bottom: 20px;
}
label {
   width: 180px; 
   display: inline-block;
   margin: 15px;
   font-size: 20px;
}
fieldset {
    width: 900px;    
}
.farbe_div {
    background-color: PowderBlue;
	width: 300px;
	font-size: 20px;
}
.button {
	width: 300px;
	height: 40px;
	font-size: 18px;
	background-color: DarkBlue;
	color: PaleTurquoise;
}
.textstyle1 {
	text-align: center;
	font-size: 18px;
	margin-left: 20px;
}
.textstyle2 {
	color: Turquoise;
	text-align: center;
	font-size: 25px;
	margin-left: 50px;
}

